/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", sans-serif;     
    background-color: rgb(218, 194, 44);
}

.custom-button{
    margin-top: 50vh;
    width: 40vw;
    height: 10vh;
}

.row{
    height: 80vh;
}

.center{
    text-align: center;
    align-items: center;
    align-content: center;
}

.question{
    color: white;
    text-align: center;
    font-size: 30px;
}

.gauge{
    max-width:60vw;
    max-height: 500px;   
}

.vote{
    max-height: 40vh;
    max-width: 340px;
}

.vote img{
    width: 40vw;
    max-width: 300px;
}

.custom-button{
    max-width: 300px;
}